# ignore config.py
# sample_config.py is an exact copy that was created for public use
config.py
**/*.pyc
# Ignore personal log file, this file will be automatically created for new users
log.json
secret_config.yaml
# Ignore Terraform files
*.key
