**/*.pyc
# Ignore personal log file, this file will be automatically created for new users
log.json
secret_config.yaml
# Ignore Terraform files
key.key
*.hcl
*.tfstate
*.backup
modules.json
*.exe
